<nav class="navbar">
  <div class="wrapper">
    <div class="logo">
      <a routerLink="/">
        <img src="/assets/imgs/skull_logo.svg" alt="" height="56px" />
      </a>
    </div>
    <div class="title">
      <a routerLink="/">
        <img
          src="/assets/imgs/navbar_title.svg"
          alt=""
          height="51px"
          width="187px"
        />
      </a>
    </div>
    <div class="menu">
      <a routerLink="/aboutme">{{ preloadLang().controls[0] }}</a>
      <a routerLink="/courses">{{ preloadLang().controls[1] }}</a>
      <button (click)="openModal()">{{ preloadLang().controls[2] }}</button>
    </div>
  </div>
</nav>
