<nav class="navbar">
  <div class="wrapper">
    <div class="logo">
      <a href="">
        <img src="/assets/imgs/skull_logo.svg" alt="" height="60px" />
      </a>
    </div>
    <div class="title">
      <a href="">
        <img
          src="/assets/imgs/navbar_title.svg"
          alt=""
          height="51px"
          width="187px"
        />
      </a>
    </div>
    <div class="menu">
      <a href="">about me</a>
      <a href="">courses</a>
      <button>sign in</button>
    </div>
  </div>
</nav>
