<a [routerLink]="['/course', id]">
  <div class="card">
    <img src="/assets/imgs/course_corner.png" alt="" class="lt_corner" />
    <img src="/assets/imgs/course_corner.png" alt="" class="rb_corner" />
    <div class="preview">
      <img
        src="/assets/imgs/card_preview.png"
        alt=""
        width="360px"
        height="203px"
      />
      <div class="scissors">
        <img src="/assets/imgs/course_diff.png" alt="" width="30px" />
        <img src="/assets/imgs/course_diff.png" alt="" width="30px" />
      </div>
      <span class="title">Advanced Layering</span>
      <span class="price">30$</span>
    </div>
    <div class="description">
      <div class="difficulty_time">
        <div class="difficulty">
          <img src="/assets/imgs/course_diff.png" alt="" width="25px" />
          <span>Hard</span>
        </div>
        <div class="time">
          <img src="/assets/imgs/course_time.png" alt="" width="25px" />
          <span>2h 00m</span>
        </div>
      </div>
      <div class="info">
        <span
          >Elevate your haircutting skills with our Advanced Layering Techniques
          course. Learn to create stunning, multi-dimensional looks that bring
          life and movement to any hair type.</span
        >
      </div>
    </div>
  </div>
</a>
