<div class="profile_wrap">
  <div class="profile">
    <h1>My profile</h1>
    <div class="profile_info">
      <label for="name">
        <img src="/assets/imgs/pencil.png" alt="" width="29px" height="33px" />
        Name:
      </label>
      <input id="name" type="text" value="Admin" />
    </div>
    <div class="profile_info">
      <label for="email">
        <img src="/assets/imgs/pencil.png" alt="" width="29px" height="33px" />
        Email:
      </label>
      <input id="email" type="email" value="admin@gmail.com" />
    </div>
    <div class="profile_info">
      <label for="password">
        <img src="/assets/imgs/pencil.png" alt="" width="29px" height="33px" />
        Password:
      </label>
      <input id="password" type="password" value="password" />
    </div>
  </div>
  <div class="settings">
    <h1>Settings</h1>
    <div class="setting">
      <img src="/assets/imgs/currency_icon.png" alt="" width="55px" />
      <div class="options">
        <button>U</button>
        <button>E</button>
        <button>D</button>
      </div>
    </div>
    <div class="setting">
      <img src="/assets/imgs/language_icon.png" alt="" width="53px" />
      <div class="options">
        <button>UA</button>
        <button>EN</button>
      </div>
    </div>
    <div class="setting">
      <img src="/assets/imgs/logout.png" alt="" width="50px" />
      <div class="options">
        <button class="logout">Log out</button>
      </div>
    </div>
  </div>
</div>
<div class="blot">
  <img src="/assets/imgs/blot_profile.png" alt="" width="100%" />
</div>
<div class="purchased_courses">
  <h1>Purchased courses</h1>
  <div class="courses">
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
  </div>
</div>
