<main>
  <div class="top-section">
    <div class="controls">
      <div>
        <a routerLink="/aboutme">
          <button>{{ preloadLang().buttons[0] }}</button></a
        >
      </div>
      <div>
        <a routerLink="/courses"
          ><button>{{ preloadLang().buttons[1] }}</button></a
        >
      </div>
      <div>
        <button (click)="openModal()">{{ preloadLang().buttons[2] }}</button>
      </div>
    </div>
  </div>
  <div class="offers">
    <img src="/assets/imgs/blot_top.png" alt="" width="100%" />
    <img src="/assets/imgs/wooden_plate.png" alt="" width="100%" />
    <app-offer
      [preloadLang]="preloadLang"
      [preloadCurr]="preloadCurr"
    ></app-offer>
    <app-offer
      [preloadLang]="preloadLang"
      [preloadCurr]="preloadCurr"
      appReverseOffer
    ></app-offer>
    <app-offer
      [preloadLang]="preloadLang"
      [preloadCurr]="preloadCurr"
    ></app-offer>
  </div>
  <div class="view_all">
    <a routerLink="/courses">
      <button>{{ preloadLang().buttons[4] }}</button>
    </a>
  </div>
  <div class="divider_bottom">
    <img src="/assets/imgs/blot_bottom.png" alt="" width="100%" />
  </div>
</main>
